:root{
    --cinza-escuro2: #101828;
    --cinza-escuro: #3A404E;
    --cinza-claro: #667085;
    --branco: #FFFFFF;
    --vermelho-escuro: #8E2424;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
  }

body{
    width: 100%;
    height: 100vh;
}


nav{
    display: flex;
    padding: 0px 32px;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
}

.logo{
    color: var(--cinza-escuro);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    gap: 8px; 
    display: flex;
    width: 148px;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.logo img{ 
    width: 27px;
    height: 26.991px;
    flex-shrink: 0;
}

.paginas{
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}
.paginas ul {
    display: flex;
    align-items: center;
    gap: 1rem;
}

ul {
    list-style: none;
    padding: 0;
}

.paginas a{
    text-decoration: none;
    color:  var(--cinza-claro);
}

.botoes {
    display: flex;
    gap: 12px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

#btn-entrar {
    display: flex;
    padding: 10px 18px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    color: var(--cinza-claro);
    border: none;
    background-color: var(--branco);
}

#btn-cadastrar {
    display: flex;
    padding: 10px 18px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    border: 1px solid var(--vermelho-escuro);
    background: var(--vermelho-escuro);
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    color: var(--branco);
}

header{
    display: flex;
    height: 407px;
    padding: 96px 0px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    align-self: stretch;
}

header span{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

header h2{
    color: var(--vermelho-escuro);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

header h1{
    color: var(--cinza-escuro2);
    font-size: 48px;
    font-weight: 600;
    line-height: 60px; /* 125% */
    letter-spacing: -0.96px;
}

#header-p{
    color: var(--cinza-claro);
    font-size: 20px;
    font-weight: 400;
    line-height: 30px; 
    text-align: center;
}

